@import '../settings';

.section {
  padding-block: 4rem;

  @include md {
    padding-block: 7rem;
  }

  @include xl {
    padding-block: 10rem;
  }
}

.section--light {
  background: $light;
}

.section__title {
  @include raleway-semibold;
  font-size: 2.8rem;
  color: $dark;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 2.5rem;

  @include md {
    font-size: 3.2rem;
    margin-bottom: 3rem;
  }

  @include lg {
    font-size: 4rem;
    margin-bottom: 5rem;
  }
}

.section__articles {
  width: fit-content;
  margin-inline: auto;
  padding-inline: 2rem;

  @include md {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 4rem;
    column-gap: 4.8rem;
  }

  @include lg {
    padding-inline: none;
  }
}

.section__article {
  margin-bottom: 2.5rem;
  max-width: 36rem;

  &:last-of-type {
    margin-bottom: none;
  }

  @include md {
    max-width: 40rem;
    margin-bottom: none;
  }
}

.section__article-title {
  @include raleway-medium;
  font-size: 2rem;
  color: $dark;
  letter-spacing: 0.02em;
  margin-bottom: 1rem;
  text-align: center;

  @include md {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
  }

  @include lg {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
  }
}

.section__article-text {
  @include raleway-regular;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.04em;
  color: $dark;
  text-align: center;

  @include md {
    font-size: 1.6rem;
  }

  @include lg {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

.section__cards {
  display: grid;
  row-gap: 3rem;
  width: fit-content;
  margin-inline: auto;

  @include md {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4.5rem;
  }

  @include lg {
    gap: 5rem 15rem;
  }
}

.section__card {
  display: flex;
  gap: 1rem;

  @include lg {
    gap: 2rem;
  }
}

.section__card--head {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid $green;
  border-radius: 50%;

  @include md {
    height: 5rem;
    width: 5rem;
  }

  @include lg {
    height: 6rem;
    width: 6rem;
  }
}

.section__card--body {
  max-width: 28rem;

  @include lg {
    max-width: 42.5rem;
  }
}

.section__card--icon {
  fill: $green;
  width: 2.4rem;
  height: 2.4rem;

  @include md {
    width: 3rem;
    height: 3rem;
  }

  @include lg {
    width: 3.6rem;
    height: 3.6rem;
  }
}

.section__card--title {
  @include raleway-regular;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.02em;

  @include md {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  @include lg {
    line-height: 3.2rem;
  }
}

.section__card--text {
  @include raleway-light;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: .04em;

  @include md {
    font-size: 1.6rem;
  }

  @include lg {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}
