@import '../settings';

.section {
  padding-block: 4rem;

  @include md {
    padding-block: 7rem;
  }

  @include xl {
    padding-block: 10rem;
  }
}

.section--tiles {
  padding: 0;
}

.section--light {
  background: $light;
}

.section__title {
  @include raleway-semibold;
  font-size: 2.8rem;
  color: $dark;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 2.5rem;

  @include md {
    font-size: 3.2rem;
    margin-bottom: 3rem;
  }

  @include lg {
    font-size: 4rem;
    margin-bottom: 5rem;
  }
}

.section__articles {
  width: fit-content;
  margin-inline: auto;
  padding-inline: 2rem;

  @include md {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 4rem;
    column-gap: 4.8rem;
  }

  @include lg {
    padding-inline: 0;
  }
}

.section__article {
  margin-bottom: 2.5rem;
  max-width: 36rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include md {
    max-width: 40rem;
    margin-bottom: 0;
  }
}

.section__article-title {
  @include raleway-medium;
  font-size: 2rem;
  color: $dark;
  letter-spacing: 0.02em;
  margin-bottom: 1rem;
  text-align: center;

  @include md {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
  }

  @include lg {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
  }
}

.section__article-text {
  @include raleway-regular;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.04em;
  color: $dark;
  text-align: center;

  @include md {
    font-size: 1.6rem;
  }

  @include lg {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

.section__cards {
  display: grid;
  row-gap: 3rem;
  width: fit-content;
  margin-inline: auto;
  padding-inline: 2rem;

  @include md {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4.5rem;
    padding-inline: 4rem;
  }

  @include lg {
    gap: 5rem 15rem;
    padding-inline: 0;
  }
}

.section__card {
  display: flex;
  gap: 1rem;

  @include lg {
    gap: 2rem;
  }
}

.section__card--head {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid $green;
  border-radius: 50%;

  @include md {
    height: 5rem;
    width: 5rem;
  }

  @include lg {
    height: 6rem;
    width: 6rem;
  }
}

.section__card--body {
  flex: 1 1 28rem;
  max-width: 32rem;

  @include lg {
    max-width: 42.5rem;
  }
}

.section__card--icon {
  fill: $green;
  width: 2.4rem;
  height: 2.4rem;

  @include md {
    width: 3rem;
    height: 3rem;
  }

  @include lg {
    width: 3.6rem;
    height: 3.6rem;
  }
}

.section__card--title {
  @include raleway-regular;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.02em;

  @include md {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  @include lg {
    line-height: 3.2rem;
  }
}

.section__card--text {
  @include raleway-light;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.04em;

  @include md {
    font-size: 1.6rem;
  }

  @include lg {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

.section__tiles {
  @include md {
    display: flex;
    flex-flow: row wrap;
  }
}

.section__tile {
  @include md {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.section__tile--reversed {
  @include md {
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
}

.section__tile-frame {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include md {
    width: 50%;
    max-width: 50%;
    flex-grow: 1;
    flex-shrink: 0;
    background: orange;
  }
}

.section__tile-img {
  width: 100%;
  object-fit: cover;
}

.section__tile-body {
  text-align: center;
  padding-inline: 2.5rem;
  padding-block: 2.5rem 3rem;

  @include smd {
    padding-inline: 5rem;
    padding-block: 3.5rem 4rem;
  }

  @include md {
    padding-inline: 3rem 5rem;
    padding-block: 0;
    text-align: left;
    width: 50%;
  }

  @include lg {
    display: flex;
    padding-inline: 8rem;
  }
}

.section__tile-body--right {
  @include lg {
    justify-content: flex-end;
  }
}

.section__tile-content {
  @include lg {
    max-width: 55rem;
  }
}

.section__tile-title {
  @include raleway-semibold;
  font-size: 2.4rem;
  letter-spacing: 0.02em;
  color: $dark;
  margin-bottom: 1rem;

  @include smd {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  @include md {
    font-size: 2.6rem;
    margin-bottom: 1rem;
  }
  
  @include lg {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
}

.section__tile-text {
  @include raleway-light;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.04em;
  margin-bottom: 2rem;

  @include smd {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 3rem;
  }

  @include md {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }

  @include lg {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 2rem;
  }
}

.section__tile-btn {
  display: inline-block;
  width: 12rem;
  height: 3rem;
  line-height: 3rem;
  @include raleway-regular;
  font-size: 1.4rem;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: $dark;
  text-align: center;
  border: 0.1rem solid $dark;
  transition: 400ms ease-in;

  &:hover {
    color: $light;
    background: $dark;
  }

  @include smd {
    font-size: 2rem;
    width: 16rem;
    height: 4.5rem;
    line-height: 4.5rem;
  }

  @include md {
    width: 12rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.4rem;
  }

  @include lg {
    width: 16rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.8rem;
  }
}
