@import '../settings';

.header {
  height: 6rem;
  padding-inline: 2rem;
  width: 100%;
  position: absolute;
  z-index: 100;

  @include lg {
    padding-inline: 4rem;
    height: 10rem;
  }

  @include xl {
    padding-inline: none;
  }
}

.header__wrapper {
  height: inherit;
  width: 100%;
  max-width: 160rem;
  margin-inline: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.header__logo {
  @include courgette;
  font-size: 2.6rem;
  margin-right: auto;

  a {
    color: $light;
  }

  @include lg {
    font-size: 3.2rem;
  }
}

.header__toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  background: transparent;

  &[aria-expanded='true'] {
    .toggler--open {
      display: none;
    }

    .toggler--closed {
      display: block;
    }
  }

  &[aria-expanded='false'] {
    .toggler--open {
      display: block;
    }

    .toggler--closed {
      display: none;
    }
  }

  @include lg {
    display: none;
  }
}

.toggler {
  width: 2.5rem;
  height: 2.5rem;
  filter: invert(1);
}

.header__nav {
  display: none;

  @include lg {
    display: block;
  }
}

.navbar {
  @include lg {
    display: flex;
    gap: 2.5rem;
  }
}

.navbar__link {
  @include raleway-regular;

  @include lg {
    font-size: 2.6rem;
    color: $light;
    position: relative;

    &::after {
      content: '';
      width: 0;
      height: 0.2rem;
      position: absolute;
      top: 100%;
      left: 50%;
      background: $light;
      transform: translateX(-50%);
      transition: 400ms ease-in;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
